/*-- CALL SECTION --*/
.call{
	&__title{
		color: $color-primary;
		font-size: 30px;
		line-height: 32px;
		font-weight: 400;
		text-align: center;
		@media screen and (max-width : 992px) {
            font-size: 20px;
            line-height: 30px;
        }
	}
	&__link{
		display: inline-block;
		font-weight: 700;
		padding-bottom: 2px;
		border-bottom: 2px solid transparent;
		transition: $transition-time;
		&:hover{
			border-bottom: 2px solid $color-primary;
			transition: $transition-time;
		}
	}	
}
/*-- /CALL SECTION --*/