/*-- FOOTER --*/
.footer{
	padding: 35px 0px;
	background-color: $color-primary;
	color: $color-main;
    svg{
        fill: $color-main;
    }
    &__content{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;      
        margin: 0 -25px;
        @media screen and (max-width : 576px) {
            margin: 0;
            flex-direction: column;       
        }
        p:not(:last-child){
            margin-bottom: 15px;
        }
    }
    &__col{
        flex-grow: 1;
        flex-shrink: 1;
        width: 22.22%;
        padding: 0 25px;
        @media screen and (max-width : 992px) {
            width: 50%;
        }
        @media screen and (max-width : 576px) {
            width: 100%;
        }
        &:first-child{
            width: 33.33%;
            @media screen and (max-width : 992px) {
                width: 50%;
            }
            @media screen and (max-width : 576px) {
                width: 100%;
            }
        }
        &:not(:nth-last-child(-n+2)){
            @media screen and (max-width : 992px) {
                margin-bottom: 35px;
            }            
        }	
        &:not(:last-child){
            @media screen and (max-width : 576px) {
                margin-bottom: 35px;
            }
            
        }        
    }
    &__logo{
        margin-bottom: 30px;
        display: block;	
    }
    &__widget:not(:last-child){
        margin-bottom: 30px;
    }

}
/*-- /FOOTER --*/
/*-- FOOTER WIDGET--*/
.footer-widget{
    &__title{
        font-size: 20px;
        line-height: 27px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    &__content{
        font-size: 14px;
        line-height: 20px;
    }
}
/*-- /FOOTER WIDGET--*/