/*-- FORM  --*/
.form{
    background-color: var(--main);
    &__row:not(:last-child){
        margin-bottom: 30px;
    }
    &__row_center-align{
        text-align: center;
    }
    &__row-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -15px;
        @media screen and (max-width : 768px) {
            flex-direction: column;
        }
    }
    &__col{
       width: 50%;
       flex-grow: 1;
       flex-wrap: 1;
       padding: 0 15px;
       @media screen and (max-width : 768px) {
           width: 100%;
        }
    }
    &__col:not(:last-child){
        @media screen and (max-width : 768px) {
            margin-bottom: 30px;
        }
    }
    &__message{
      margin-bottom: 20px;
    }
    &__label{
        margin-bottom: 12px;
    }
    &__input{
        width: 100%;
    }
    &__textarea{
        width: 100%;
    }
    &__button{
        width: 170px;
    }
}
/*-- /FORM --*/

/*-- MESSAGE --*/
.message{
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: none;
    &_error{
        border: 1px solid $color-error;
        color: $color-error;
    }
    &_succes{
        border: 1px solid $color-succes;
        color: $color-succes;
    }
}

/*-- /MESSAGE --*/



