/*-- LABEL --*/
label{
    display: block;            
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    font-family: var(--userfont-service);                    
}
/*-- /LABEL --*/