/*-- NETWORKS --*/
.networks{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -11px;
    @media screen and (max-width : 576px) {
        margin: 0 -15px;
    }
    .networks__item{
        padding: 0 11px;
        @media screen and (max-width : 576px) {
            padding: 0 15px;     
        }
    }
    .networks__link {        
        svg{
            fill: $color-primary;
            transition: $transition-time;
        }
        &:hover svg{
            fill: $color-text;
            transition: $transition-time;
        }
    } 
}
/*-- /NETWORKS --*/