/* SINGLE POST */
.single-post{
    &__content{
        margin-bottom: 30px;
    }
    &__info{
        margin-bottom: 30px;
    }
    &__pagination{
        margin-bottom: 30px;
    }
    &__contents{
        margin-bottom: 30px;
    }
}
/* /SINGLE POST */