/*-- Social --*/

.social{
	display: flex;	
	align-items: center;
	margin: 0 -14px;
    &__item{
        padding: 7px;
    }
    
    &__link{
        display: block;
        background-color: $color-secondary;
        color: $color-primary;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: $transition-time;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            fill: $color-primary;
            transition: $transition-time;
            width: 15px;
            height: 15px;
        }
        &:hover{
            background-color: $color-primary;
            color: $color-secondary;
            transition: $transition-time;
            svg{
                fill: $color-main;
                transition: $transition-time;
            }
        }

    }
}

