/*-- SUBSCRIBE --*/
.subscribe{
    border: 1px solid $color-main;
    font-family: $font-family-userfont-secodary;
    display: flex;
    align-items: center;
    &__email{
        display: block;
        background-color: $color-main;
        color: $color-text;
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
        border: 0;
        padding: 7px;
        width: 60%;
        &::placeholder{
            color: $color-gray;
            opacity: 1;
            transition: $transition-time;
        }
        &:focus::placeholder{
            opacity: 0;
            transition: $transition-time;
        }
    }
    &__button{
        display: block;
        background-color: $color-primary;
        color: $color-main;
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        border: 0;
        padding: 7px;
        text-align: center;
        width: 40%;
        transition: $transition-time;
        &:hover{
            background-color: $color-text;
            cursor: pointer;
            transition: $transition-time;
        }
    }
}  
/*-- SUBSCRIBE --*/